[submodule "Host"]
	path = Host
	url = https://github.com/EdSpurrier/Portfolio-Host.git
[submodule "Utils/Tools"]
	path = Utils/Tools
	url = https://github.com/EdSpurrier/dev-tools.git
[submodule "Modules/Navigation"]
	path = Modules/Navigation
	url = https://github.com/EdSpurrier/Portfolio-Navigation.git
